<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAGb5x677ffqQZvZ33uWRPGh1gpA0086dY</string>
	<key>GCM_SENDER_ID</key>
	<string>971906820653</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.globalTextReader</string>
	<key>PROJECT_ID</key>
	<string>global-text-reader</string>
	<key>STORAGE_BUCKET</key>
	<string>global-text-reader.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:971906820653:ios:d08912237fdf18b5aa26a4</string>
</dict>
</plist>